<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="obj">
        <div>
            <label>FulllName:</label>
            <input type="text" v-on:input = "value">
        </div>
        <p>The name you just entered is: {{ name }}</p>
    </div>
</body>
<script src="vue.js"></script>
<script>
    new Vue({
        el: '#obj',
        data: {
            name: ''
        },
        methods: {
            value: function(event) {
                this.name = event.target.value
            }
        }
    })
</script>
</html>